<header class="navbar" [class.navbar-dark]="isDark()">
  <div class="navbar-left">
    <button class="hamburger-btn"><i class="fa-solid fa-bars"></i></button>
    <a routerLink="/home" class="nav-text-link">Menu</a>
    <a href="#" class="nav-text-link">Specials</a>
  </div>

  <div class="navbar-center">
    <span class="logo" routerLink="/home">Savora</span>
    <span class="logo-tagline">Restaurant &amp; Delivery</span>
  </div>

  <div class="navbar-right">
    <a routerLink="/profile" class="nav-text-link">
      <i class="fa-regular fa-user"></i> My Account
    </a>
    <a routerLink="/cart" class="nav-text-link">
      <i class="fa-solid fa-bag-shopping"></i> Basket
      @if (cartService.totalItems() > 0) {
        <span class="cart-count">{{ cartService.totalItems() }}</span>
      }
    </a>
  </div>
</header>